@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    height: 90vh;
    background-color: #f7f7f7;
}

header nav .navbar-brand {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: black;
}

.navbar-light .navbar-nav .nav-item {
    padding-left: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: black !important;
    position: relative;
}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #333333;
    transition: .5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 47%
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #333333;
    transition: .5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 47%
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content h1 span {
    color: #FBA24F;
}

.header-content p {
    margin-top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #828282;
    line-height: 160%;
    /* or 32px */
    letter-spacing: -0.02em;
}

.header-content a {
    font-family: Montserrat;
    margin-top: 25px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 100px;
    border: none !important;
    cursor: pointer;
    color: black;
    font-size: 18px;
    padding: 10px 25px;
    font-weight: 600;

}

.header-content a:hover{
    color: white;
    font-weight: 600;
}