@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    min-height: 100vh;
    background-color: #f7f7f7;
}

header nav .navbar-brand {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: black;
}

.navbar-light .navbar-nav .nav-item {
    padding-left: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: black !important;
    position: relative;
}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #333333;
    transition: .5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 47%
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #333333;
    transition: .5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 47%
}

.header-content {
    padding-top: 20px;
}

.header-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.header-content h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-content h1 span {
    color: #FBA24F;
}

.header-content p {
    margin-top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #828282;
    line-height: 160%;
    /* or 32px */
    letter-spacing: -0.02em;
}

.header-content a {
    font-family: Montserrat;
    margin-top: 25px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    border-radius: 100px;
    border: none !important;
    cursor: pointer;
    color: black;
    font-size: 18px;
    padding: 10px 25px;
    font-weight: 600;
}

.header-content a:hover {
    color: white;
    font-weight: 600;
}

.header-content img {
    object-fit: cover;
    height: 90vh;
}

/*About me Section start*/

.about {
    margin-bottom: 50px;
    padding: 20px 20px 0px;
    background-image: url(../img/about-me-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-image {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about-image img {
    height: 90%;
}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.about-content h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #707070;
}

.about-content p {
    margin-top: 15px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga'off;
    color: #18191fba;
}

.about-content a {
    font-family: Montserrat;
    margin-top: 25px;
    border-radius: 100px;
    border: none !important;
    cursor: pointer;
    color: white;
    background: #4E44E1;
    font-size: 18px;
    padding: 10px 25px;
    font-weight: 600;
}

.about-content a:hover {
    color: white;
    font-weight: 600;

}

/*About me Section End*/

/*Recipies Section Start */
.recipies {
    margin: 100px 0px;
}


.recipies .heading {
    text-align: center;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.recipies .heading span{
    display: inline;
    opacity: 0;
    position: relative;
    height: 2px;
    width: 0%;
    left:0%;
    bottom: 0%;
    transform: translate(0%, 0%);
    background-color: rgb(0, 0, 0);
    transition: .5s all ease-in-out;
}

.recipies:hover .heading span{
    width: 40%;
    opacity: .75;
}

.recipies .heading h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
}

.recipies .heading p {
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #252525;
    padding: 0px 10%;
}

.recipies-project {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipies-content {
    padding: 10px;
    min-height: 450px;
    float: left;
    margin: 5px;
    background: #FFFFFF;
    border-radius: 30px;
}

.recipies-content:hover {
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}

.recipies-content img {
    border-radius: 20px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.recipies-content h1 {
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 28px;
    color: #18191F;
}

.recipies-content p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #18191F;
}

.recipies-content a {
    border-radius: 35px;
    background-color: #a7dbf542;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 17px;
    font-family: 'Montserrat';
    border: 2px solid black;

}


.recipies-content a:hover {
    color: black;
    font-weight: 900;
}

/*Recipies Section End */

/*Testimonial Section Start */
.testimonial {
    min-height: 700px;
    background: url('../img/testimonial-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
   
}

.testimonial .heading{
    text-align: center;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.testimonial .heading span{
    display: inline;
    opacity: 0;
    position: relative;
    height: 2px;
    width: 0%;
    left:0%;
    bottom: 0%;
    transform: translate(0%, 0%);
    background-color: white;
    transition: .5s all ease-in-out;
}

.testimonial:hover .heading span{
    width: 40%;
    opacity: .5;
}

.testimonial .heading h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    color: whitesmoke;
}

.testimonial .heading p{
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #e4e1e1;
    padding: 0px 10%;

}

.slider-content {
    border-radius: 50px;
}

.slider-content .testimonial-content {
    min-height: 200px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-content .testimonial-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-content .testimonial-image img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    line-height: 80px;
}

.slider-content .testimonial-image p {
    color: white;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    font-weight: bold;
}

.slider-content .testimonial-speech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-content .testimonial-speech i {
    color: white;
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    text-align: center;

}

.owl-theme .owl-nav{
    margin: 0px;
} 

.owl-theme .owl-dots .owl-dot.active span{
    background: white;
    height: 13px;
    width: 13px;
    line-height: 13px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #ffffff59;
}



/*Testimonial Section End */


/*FAQ Section Start */
.faq{
    min-height: 300px;
    display: flex;
    margin-top: 100px;
    align-items: center;
}
.accordion-section{
    display: flex;
    align-items: center;

}
.accordion-flush{
    width: 100% !important;
}
.accordion-body {
    text-align: left;
}


.accordion-button:not(.collapsed){
    color: black !important;
}
.faq .heading {
    text-align: center;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.faq .heading span{
    display: inline;
    opacity: 0;
    position: relative;
    height: 2px;
    width: 0%;
    left:0%;
    bottom: 0%;
    transform: translate(0%, 0%);
    background-color: rgb(99, 99, 99);
    transition: .5s all ease-in-out;
}

.faq:hover .heading span{
    width: 40%;
    opacity: .75;
}

.faq .heading h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
}

.faq p{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
/*FAQ Section End */


/*Dashborar Section Start*/
.dashboard{
    height: 200px;
    margin: 50px 0px 100px;
}
.dashbaord-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px 0px;
}
.dashboard-content{
    padding: 10px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 125px;
    flex-direction: column;
}

.dashboard-content h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}

.dashboard-content p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #18191F;
}

/*Dashborar Section End*/